.Header {
  display: flex;
  z-index: z("navbar");
  justify-content: space-around;
  align-items: center;

  position: fixed;
  width: 100%;
  
  min-height: 50px;
  padding: 8px map-get($globalPadding, desktop);

  & > * {
    flex: 1;
  }

  & > .user-action {
    display: inline-block;
    width: 25%;
    margin: 0 8px;
  }

  background-color: c(grayLight);
  border-bottom: 1px solid c(border);
}
