.signin-form {
  width: 95%;
  max-width: 550px;
  margin: 25px auto;
  padding: 25px 50px;

  background-color: #fff;
  border: 1px solid c(border);
}

.logo-icon {
  text-align: center;
  margin-bottom: 8px;
}
