.container {
  position: absolute;
  top: 15%;
  width: 300px;
  padding: space(3) space(8);
  border: 1px solid c(border);

  background-color: #fff;
}

.avatar {
  padding-bottom: space(3);
  margin-bottom: space(3);

  border-bottom: 1px solid c(border);

  img {
    width: 80px;
    height: 80px;
    border-radius: 50px;  
  }
  .username {
    font-weight: bold;
    color: c(wordDeep);

    @include responsive-font-size(medium);
  }
}

.user-summary {
  display: block;  
  @include element(item) {
    dd, dt {
      margin: space(2) 0;
      &:last-child { margin-bottom: 0; }
    }

    dt {
      color: c(word);
      @include responsive-font-size(small);
    }

    dd {
      color: c(wordDeep);

      @include responsive-font-size(medium);
    }
  }
}
