$breakpoints: (
  mobile: px2rem(500px),
  tablet: (px2rem(501px) px2rem(900px)),
  laptop: (px2rem(901px) px2rem(1200px)),
  desktop: (px2rem(1200px)),
  'large-desktop': (px2rem(1300px))
);

$grid-gutter: 15px;
