$main: #0a2928;
$border-gray: #bbb;

$colors: (
  main: #209995,
  help: #ff6544,
  link: #138cb9,
  navbar: #0a2928,
  word: #333,
  wordDeep: #111,
  wordGray: #bbb,
  gray: #eaeaea,
  grayLight: #fafafa,
  border: #979797,
  facebook: #314d91,
  google: #d73d32,
  warn: #fe6565,
  
);

@function c($key) {
  @return map-get($colors, $key);
}
