$spacing-basic: 0.25rem;
$navbarHeight: 50px;

$globalPadding: (
  mobile: 8px,
  desktop: 25px
);

$inputTypes: (
  'text', 'password', 'hidden',
  'checkbox',   'button', 'email',
  'file',    'image', 'search',
  'tel',     'time', 'url',
  'week'
);
