html, body {
  height: 100%;
  font-size: calc(14px + ((100vw - 320px) / 1600) * 6);
  font-family: map-get($fonts, normal);

  background-color: c(gray);
  color: c(word);
}

* {
  box-sizing: border-box;
}

img,
iframe {
  max-width: 100%;
}

img {
  position: relative;
  font-family: "PingFang TC";
  font-weight: 300;
  font-size: 14px;
  line-height: 2;
  text-align: center;

  &::before {
    display: block;
    margin-bottom: 10px;
    content: "抱歉，這張圖片目前已移除或無法使用";
  }

  &::after {
    position: absolute;
    z-index: 20;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;

    display: block;
    padding: 10px 5px;
    background-color: #bbb;
    border: 2px dotted #444;
    content: "url" "(" attr(src) ")";
  }
}

:global(.offset-top) {
  padding-top: $navbarHeight;
}

a {
  text-decoration: none;
}
